/* ------------- NAVIGATION ------------- */

/* .navbar {
  background-color: #FF2B56;
} */

.navbar-item {
  color: #ffffff;
  font-size: 1.5em;
}

.center-logo {
  text-align: center;
}

/* ------------- CUBS LOGO & STANDINGS ------------- */

.centered-standings {
  text-align: center;
  width: 65%;
  /* margin-left: 15% */
}

.cubs-logo {
  text-align: center;
}

.cubs-logo img{
  height: 350px;
}

.fact-box, .fact-box-holder {
  text-align: center;
}

/* ------------- SCRAPE BUTTON ------------- */

.scrape-button {
  text-align: center;
  margin: 25px 0 25px 0;
}

.scrape-button a {
  background-color: #CC3433;
}

.scrape-button a:hover {
  background-color: #e57373;
}

/* ------------- RESULTS AREA ------------- */

li {
  list-style-type: none;
  text-decoration-style: none;
  padding: 10px 0 10px 0;
}

.single-article {
  color: #0E3386;
}