/* ------------- NAVIGATION ------------- */

nav {
  background-color: #0E3386;
}

/* ------------- CUBS LOGO & STANDINGS ------------- */

.centered-standings {
  width: 65%;
  margin-left: 15%
}

.cubs-logo {
  text-align: center;
}

.cubs-logo img{
  height: 350px;
}

/* ------------- SCRAPE BUTTON ------------- */

.scrape-button {
  text-align: center;
  margin: 25px 0 25px 0;
}

.scrape-button a {
  background-color: #CC3433;
}

.scrape-button a:hover {
  background-color: #e57373;
}

/* ------------- RESULTS AREA ------------- */

li {
  list-style-type: none;
  text-decoration-style: none;
  padding: 10px 0 10px 0;
}

.single-article {
  color: #0E3386;
}