/* ------------- NAVIGATION ------------- */

nav {
  background-color: #0E3386;
}

/* ------------- SCRAPE BUTTON ------------- */

.scrape-button {
  text-align: center;
  margin: 25px 0 25px 0;
}

.scrape-button a {
  background-color: #CC3433;
}